<div>
   <div>
      <p>Todo {{ $ctrl.todo.length }}</p>
   </div>
      <add-todo on-update="$ctrl.addTodo($event)"></add-todo>
      <item-todo 
         todo="$ctrl.todo" 
         on-update="$ctrl.updateTodo($event)"
         on-delete="$ctrl.deleteOne($event)"></item-todo>
   <div>
      <button ng-click="$ctrl.clearTodo()">Clear all</button>
      <button ng-click="$ctrl.filterActive()">active</button>
      <button ng-click="$ctrl.filterCompleted()">completed</button>
      <button ng-click="$ctrl.filterAll()">all</button>
   </div>
      <filter-todo ></filter-todo>
</div>
