* {
  box-sizing: border-box;
}

p,
ul,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #4b0082;
  transition: all 0.5s;
}
a:focus {
  outline: none;
}

/* main page  */

body {
  background-color: rgba(216, 191, 216, 0.5);
  color: #4b0082;
}
#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#view-container {
  flex-grow: 1;
}

.header_footer {
  width: 100%;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
header {
  background-color: rgba(218, 112, 214, 0.7);
}
footer {
  background-color: rgba(186, 85, 211, 0.7);
}
.pages {
  font-size: 23px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.pages span {
  margin: 0 7px;
}
.pages a:hover {
  color: #ff00ff;
}
.content {
  background-color: white;
  padding: 20px;
  width: 700px;
  margin: 15px auto;
  border: 4px solid #dff70e;
  border-radius: 20px;
  box-shadow: 0 0 15px #ff2fea;
}

/* todo tasks  */

.main_content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.total_todos {
  font-size: 19px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 15px;
}

/* add task  */

.addTaskName,
.addTaskNumber,
.changeItem,
.filterItem {
  outline: none;
  border: 3px solid #8a2be2;
  height: 40px;
  padding: 0 10px;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(138, 43, 226, 0.1);
}
.button {
  height: 40px;
  width: 100px;
  border: 3px solid #8a2be2;
  background-color: rgba(138, 43, 226, 0.1);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #8a2be2;
  transition: all 0.5s;
}
.button:hover {
  border: 3px solid #eef120;
  background-color: rgba(226, 220, 43, 0.1);
  border-radius: 20px;
}
.addTaskNumber {
  margin: 0 7px;
}
.validInput-false {
  border: 3px solid red;
  background-color: rgba(214, 87, 87, 0.2);
}
.validText {
  color: red;
  font-weight: 700;
  margin: 10px 0 10px 35px;
}
.validText-false {
  display: block;
}
.validText-true {
  visibility: hidden;
}

/* list of todos  */

.list_component {
  align-self: flex-start;
  width: 100%;
}
.all_list {
  display: flex;
  flex-direction: column;
}
.edit {
  align-self: center;
}
.todoList,
.motivation {
  font-size: 18px;
  padding: 15px;
  background-color: rgba(216, 191, 216, 0.5);
  border-radius: 10px;
  border: 2px solid yellow;
  min-height: 65px;
  margin-bottom: 15px;
  width: 100%;
}
/* .listItem {
  width: auto;
  word-wrap: break-word;
} */
.listPriority {
  color: #4B0082;
  font-weight: 900;
  font-size: 20px;
}
.button_delete {
  height: 30px;
  width: 80px;
  font-size: 14px;
  float: right;
}
.edit-true,
.click-false {
  display: none;
}
.edit-false,
.click-true {
  display: inline-block;
}
.done-true {
  text-decoration: line-through;
}

.custom_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom_checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom_checkbox + label::before {
  position: relative;
  top: 5px;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(75, 0, 130, 0.3);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: all 0.5s;
}
.custom_checkbox:checked + label::before {
  background-color: #8a2be2;
  border-color: #4b0082;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* sort delete list  */

.sort_delete {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin-bottom: 25px;
}
.button_sort {
  margin-right: 15px;
}
