<div class="add-todo">

    <div class="search">
        Search:
        <input ng-model="text" class="search-input"/>
    </div>

    <div class="sort-by">
        Sort by:
        <select ng-model="name" class="sort-by-select">
            <option value="default">Default</option>
            <option value="text">Alphabetical</option>
        </select>
    </div>


    <div ng-repeat="todo in $ctrl.todos | filter:text | orderBy:name" class="task">
        <input type="checkbox" ng-model="todo.done"/>
        <span ng-hide="todo.editMode" class="done-{{todo.done}}">{{todo.text}}</span>
        <span ng-show="todo.editMode">
            <input ng-model="todo.text" />
            <button ng-click="$ctrl.save(todo)" class="save-button">Save</button>
        </span>
        <button ng-click="$ctrl.editTask(todo)" ng-hide="todo.editMode" class="edit-button">Edit</button>
    </div>

</div>