<div class="wrapper-orel-todo">
  <header class="header_footer header">
    <p class="welcome">Welcome to your todo list</p>
  </header>
  <div class="body-orel-todo">
    <main>
      <nav class="pages">
        <a href="#!">Home</a>
        <span>|</span>
        <a href="#!motivationPhrases">I need motivation!!!</a>
      </nav>
    </main>
    <div>
      <main-component-to-do-list-component></main-component-to-do-list-component>
    </div>
  </div>
  <footer class="header_footer footer">
    <p>Motivation comes from working on things we care about</p>
  </footer>
</div>
