<div class="body">
  <header class="header_footer header">
    <p class="welcome">Welcome to your todo list</p>
  </header>
  <nav class="pages">
    <a href="#!">Home</a>
    <span>|</span>
    <a href="#!todoOrel">My To Do List</a>
  </nav>
  <div class="content">
    <div class="motivation">
      Success doesn't come to you. You go to it (Marva Collins)
    </div>
    <div class="motivation">
      <p class="align">
        The way to get started is to quit talking and begin doing (Walt Disney)
      </p>
    </div>
    <div class="motivation">
      <p class="align">
        Action is the foundational key to all success (Pablo Picasso)
      </p>
    </div>
    <div class="motivation">
      <p class="align">
        In order to succeed, we must first believe that we can (Nikos
        Kazantzakis)
      </p>
    </div>
    <div class="motivation">
      <p class="align">
        Only I can change my life. No one can do it for me (Carol Burnett)
      </p>
    </div>
  </div>
  <footer class="header_footer footer">
    <p>Motivation comes from working on things we care about</p>
  </footer>
</div>
