<div>
  <p class="motivation">
    Success doesn't come to you. You go to it (Marva Collins)
  </p>
  <p class="motivation">
    The way to get started is to quit talking and begin doing (Walt Disney)
  </p>
  <p class="motivation">
    Action is the foundational key to all success (Pablo Picasso)
  </p>
  <p class="motivation">
    In order to succeed, we must first believe that we can (Nikos Kazantzakis)
  </p>
  <p class="motivation">
    Only I can change my life. No one can do it for me (Carol Burnett)
  </p>
</div>
